.column {
    display: inline-block;
}

.cell {
    display: block;
    width: 15px;
    height: 15px;
}

.top {
    border-top: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.no-top {
    border-top: 1px solid rgba(255, 0, 0, 0.02);
}

.no-bottom {
    border-bottom: 1px solid rgba(255, 0, 0, 0.02);
}

.no-left {
    border-left: 1px solid rgba(255, 0, 0, 0.02);
}

.no-right {
    border-right: 1px solid rgba(255, 0, 0, 0.02);
}

.visited {
    background-color: rgba(255, 0, 0, 0.04);
}

.start {
    background-color: green;
}

.finish {
    background-color: red;
}

.visited-pathfinder {
    background-color: rgba(255, 255, 0, 0.5);
}

.current-pathfinder {
    background-color: yellow;
}